**__pycache__
out.log
err.log
logs
experiments/switch_grid_search/results/plots_archived
experiments/switch_grid_search/.ipynb_checkpoints
docs/Oren-SelfScalingVariableMetric-1974.pdf
docs/bfgs_scaling_study.pdf
**-checkpoint.ipynb
outputs
multirun
