**__pycache__
out.log
err.log
logs
experiments/switch_grid_search/results/plots_archived
experiments/switch_grid_search/.ipynb_checkpoints
**-checkpoint.ipynb
outputs
multirun
ppdata
*npy
*pdf
*ipynb
